.background {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    padding: 15px 15px;
    height: 100vh;
   /*  background-image: url(/images/laser.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

/* .background:before {
    position: absolute;
    z-index: 100;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
} */

.box_login {
    background-color: #fff;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.box_login .title_login {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.box_login #text_1 {
    margin: 10px 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #3f3f3f;
}

.box_inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.box_inputs fieldset {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #000;
    transition: all .2s ease;
}

.box_inputs fieldset:hover {
    border-bottom: 1px solid #D73535;
}

.box_inputs label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    font-size: 1.6rem;
    transition: all .3s ease;
    color: #686868;
    font-weight: 600;
}

.box_inputs fieldset:hover label{
    font-size: 1.3rem;
    top: -15%;
    color: #D73535;
}

.box_inputs input {
    padding: 0 3px;
    width: 100%;
    height: 4rem;
}

.box_inputs input:valid ~ label {
    font-size: 1.3rem;
    top: -15%;
    color: #D73535;
}

.box_inputs fieldset:has(input:not(:placeholder-shown)) {
    border-bottom: 1px solid #D73535;
}

.box_inputs #hide_pass {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    color: #707070;
    height: 100%;
}

.box_inputs #hide_pass:hover {
    color: #3b3b3b
}

.login_password {
    display: flex;
    align-items: center;
}

#msg_error {
    font-weight: 500;
    font-size: 1.4rem;
    color: #D73535;
}

.btn_login {
    margin-top: 30px;
    cursor: pointer;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #000;
    transition: all .2s ease;
    border-radius: 2px;
    color: #fff;
}

.btn_login:hover {
    letter-spacing: 2px;
    background-color: #272727;
}

.notify {
    animation: warning 250ms;
}

@keyframes warning {
  0%   { transform: translate(0); }
  20%  { transform: translate(-2px, 2px); }
  40%  { transform: translate(-2px, -2px); }
  60%  { transform: translate(2px, 2px); }
  80%  { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}


