section {
    width: 100%;
    padding: 0 40px;
}

.header_pending {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #c7c7c7;
}

.header_pending h1 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #4e4e4e;
}

.header_pending .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.header_pending .right button {
    font-size: 1.4rem;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
    color: #313131;
}

.header_pending .btn_newtask {
    background-color: #76ec5e;
}

.create_task {
    position: absolute;
    top: 0;
    background-color: rgba(58, 58, 58, 0.459);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.create_task.open {
    display: flex;
}

.create_task.closed {
    display: none;
}

.create_task_wrapper {
    font-size: 2rem;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    width: 700px;
    max-width: 700px;
    z-index: 1000;
}

.create_task_wrapper .task_content {
    width: 100%;
}

.create_task_wrapper .task_title {
    margin-bottom: 2px;
    display: block;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 2px;
}


.create_task_wrapper .task_select {
    cursor: pointer;
    border: 1px solid #000;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 400;
}

.task_info, .task_email, .task_date {
    border: 1px solid #000;
    padding: 5px;
    width: 100%;
    resize: none;
}

.task_date {
    width:auto;
}

.create_task_wrapper .btns_formTask {
    display: flex;
    gap:10px;
    width: 100%;
    margin-top: 20px;
}

.create_task_wrapper .btn_formTask {
    width: 50%;
    cursor: pointer;
    padding: 15px 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 2);
}

.create_task_wrapper .btn_createNewTask {
    background-color: #76ec5e;
}

.create_task_wrapper .btn_createNewTask:hover, .btn_newtask:hover {
    background-color: #58b146;
}

/* Style Lista de Pendencias */
.list_pending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 10px;
    justify-content: start;
    width: 100%;
    margin-top: 10px;
}

.list_pending .box_pend {
    display: flex;
    border: 1px solid #000;
    padding: 10px 15px;
    background-color: #fffb05;
    gap: 20px;
    max-width: 300px;
    justify-content: space-between;
}

.list_pending .box_pend .info_loja .name_loja {
    font-size: 1.8rem;
}

.list_pending .box_pend .info_loja .more_info {
    font-size: 1.3rem;
    color: #0000009b;
}

.pend_more_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pend_more_info .pend_name {
    font-size: 1.2rem;
    font-weight: 500;
}

.pend_more_info .pend_info { 
    font-size: 1.3rem;
    margin-top: -2px;
}

.pend_more_info .pend_date {
    font-size: 1.15rem;
    color: #00000099;
} 

.pend_more_info .pend_link {
    font-size: 1.3rem;
}

.pend_right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pend_right .pend_btn {
    background-color: #ebebeb;
    font-size: 1.5rem;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
